@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('../fonts/FedraSansPro-BoldLF.woff2') format('woff2'),
    url('../fonts/FedraSansPro-BoldLF.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('../fonts/FedraSansPro-BoldItalicLF.woff2') format('woff2'),
    url('../fonts/FedraSansPro-BoldItalicLF.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('../fonts/FedraSansPro-BookLF.woff2') format('woff2'),
    url('../fonts/FedraSansPro-BookLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('../fonts/FedraSansPro-LightLF.woff2') format('woff2'),
    url('../fonts/FedraSansPro-LightLF.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('../fonts/FedraSansPro-MediumLF.woff2') format('woff2'),
    url('../fonts/FedraSansPro-MediumLF.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}